#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  display: inline;
  text-align: center;
  list-style-type: none;
  font-size: 20px;
}

/* .btnContainer {
  flex-wrap: wrap;
  flex-direction: column;
} */

.btnHeader {
  margin: 0.5rem;
  color: blue;
}

.btnHeader:hover {
  color: red;
}

h1 {
  color: blue;
}

p {
  color: blue;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#portrait {
  object-fit: cover;
  height: 500px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
