#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  display: inline;
  text-align: center;
  list-style-type: none;
  font-size: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.btnHeader {
  margin: 0.5rem;
  color: navy;
  text-align: center;
}

.btnHeader:hover {
  color: blue;
}

.btnContainer {
  justify-content: center;
}

.portfolioContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolioCard {
  margin: 20px;
  margin-right: 0px;
}

footer {
  margin-top: 3rem;
}

.typography {
  color: blue;
}

h1 {
  color: blue;
}

p {
  color: navy;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#portrait {
  object-fit: cover;
  height: 500px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
